{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <span class="subheading">We help to become stylish not fashionable.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Have you ever wondered why you spend an hour every morning to 
          choose an outfit? Why there is so much stuff in your wardrobe 
          and still nothing to wear?
        </p>
        <p>
          The answer for this question is very simple: you do not have 
          enough basic clothes. Our goal is to help you to create a wardrobe 
          with maximum amount of matching clothes and reduse the quanity of 
          non-used items.
        </p>
        <p>
          It is time to change your style but still be yourself in a 
          better appearance.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
